<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum magni possimus ea in recusandae et quo officiis rem, eius incidunt labore tempore quisquam accusamus. Dicta nostrum dolor ut ullam eius. Odio, dolor reprehenderit. Voluptatem cum expedita odio exercitationem assumenda rerum maiores deserunt consequuntur doloremque, voluptates deleniti at reiciendis iusto id quas quibusdam accusantium laborum porro ad nostrum aliquid. Magni laudantium unde aliquam cum numquam temporibus recusandae eum quia ducimus mollitia, officiis sapiente iusto alias, quos inventore harum distinctio dicta quis explicabo velit facilis voluptatibus eaque nulla culpa. Repellat ipsum labore cum assumenda ad pariatur est, sunt, odit ut temporibus voluptate!</p>

    <h2>Welcome</h2>
</body>
</html>